.center {
  width: 100vw;
  min-height: 100vh;
  /* margin: auto; */
  background-image: url(https://images.unsplash.com/photo-1617396900799-f4ec2b43c7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTl8Q1RSVHU5NGZ1OW98fGVufDB8fHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainDiv{
  margin: auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 10px;
}

h2{
  color: white;
}
.button{
                /* display: inline-block; */
                outline: 0;
                border: 0;
                cursor: pointer;
                background: #000000;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 14px 24px 16px;
                font-size: 18px;
                font-weight: 700;
                line-height: 1;
                transition: transform 200ms,background 200ms;
                margin-bottom: 20px;  
}

.button:hover{
                    transform: translateY(-2px);
                }
.link{
    text-decoration: none;
}

.texts{
  color: white;
}

.margins{
  margin-bottom: 20px;
}
